* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* :root {
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-destaque: #4a90e2;
    --fonte-principal: 'Inter', sans-serif;
} */

:root {
    --cor-fundo: #0a0a0a;
    --cor-texto: #e8e8e8;
    --cor-destaque: #047af1;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 3.5rem 2rem 2rem 2rem; /* top right bottom left */
}

h1, h2, h3 {
    font-weight: 300;
    margin-bottom: 1rem;
}

a {
    color: var(--cor-fundo);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: darken(var(--cor-destaque), 10%);
    opacity: 0.9;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.5rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

/* .navbar {
    background: var(--cor-fundo);
    color: white;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */ 

.site-header {
    position: fixed;
    padding: 0.3rem 0 1px 0;
    top: 0;
    width: 800px;
    background: var(--cor-fundo);
    z-index: 1000;
    background: transparent;
}

.header-blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    margin-left: -25%;
    background: rgba(244, 244, 244, 0.7);
    backdrop-filter: blur(20px); /* adjust the blur */
    z-index: -1; /* behind the header */
}

.header-logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 -4rem;
}

.logo-image {
    max-height: 40px; /* adjust the width and height of image */
    width: auto; /* keep proportion */
}

.header-content {
    display: flex;
    padding: 0 4rem;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* on top of the blur */
}

.header-menu a {
    margin-left: 20px;
    margin-right: 0;
}

.hidden-menu {
    display: none;
}

.hidden-menu a {
    margin-left: 20px;
    margin-right: 0;
}

footer {
    text-align: center;
    font-size: smaller;
    margin-top: 2rem;
    color: var(--cor-texto);
}

.registered-trademark {
    font-size: 1.1em; 
    vertical-align: middle; /* Vertical Aligned */
    margin-left: 1px; /* Adiciona um pequeno espaço */
}

@media screen and (max-width: 778px) {
    .header-menu {
        display: none;
    }

    .hidden-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10px;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 1000;
        align-items: center;
    }

    .dropdown-toggle {
        display: none;
    }

    .dropdown-label {
        cursor: pointer;
        padding: 5px;
        background-color: transparent;
        color: var(--cor-fundo);
    }

    .dropdown-menu {
        display: none;
        width: 80%;
        max-width: 150px;
        background: rgba(244, 244, 244, 0.8);
        backdrop-filter: blur(50px);
        border-radius: 8px;
        margin-top: 10px;
        overflow: hidden;
    }

    .dropdown-menu a {
        display: block;
        padding-top: 10px;
        margin-left: -2px;
        text-align: center;
        color: var(--cor-fundo);
        transition: background-color 0.3s ease;
    }

    .dropdown-menu a:hover {
        background-color: #f0f0f0;
    }

    .dropdown-toggle:checked ~ .dropdown-menu {
        display: block;
    }
}