<header class="site-header">
    <div class="header-blur-background"></div>
    <div class="header-content">
        <div class="header-logo">
            <a href="/"><img src="/src/images/brand/logo.png" alt="Blog Logo" class="site-logo"></a>
        </div>
        <nav class="header-menu">
            <a href="/about-me">About me</a>
            <a href="/articles">Articles</a>
        </nav>
        <div class="hidden-menu">
            <input type="checkbox" id="mobile-menu-toggle" class="dropdown-toggle">
            <label for="mobile-menu-toggle" class="dropdown-label">Menu ☰</label>
            <div class="dropdown-menu">
                <a href="/">Home</a>
                <a href="/about-me">About me</a>
                <a href="/articles">Articles</a>
            </div>
        </div>
    </div>
</header>