* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* :root {
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-destaque: #4a90e2;
    --fonte-principal: 'Inter', sans-serif;
} */

:root {
    --cor-fundo: #0a0a0a;
    --cor-texto: #e8e8e8;
    --cor-destaque: #047af1;
    --fonte-principal: 'Inter', sans-serif;
    --transition: 0.3s ease;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 3.5rem 2rem 2rem 2rem; /* top right bottom left */
}

h1, h2, h3 {
    font-weight: 300;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
    text-align: justify;
    hyphens: auto;
}

a:not(.a-logo) {
    color: var(--cor-fundo);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover:not(.a-logo) {
    opacity: 0.7;
}

/* .a-logo {
    all: unset;
    cursor: pointer;
} */

hr { /* Horizontal Line */
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--cor-texto);
    margin: 1em 0;
    padding: 0;
}

ul {
    padding-left: 5vw;
    margin-top: -15px;
    margin-bottom: 10px;
}

i {
    font-weight: 100;
    font-size: small;
    opacity: 0.7;
    transition: color 0.3s ease;
}

#first-title {
    text-align: center;
}

#junior {
    color: var(--cor-texto);
}

#suggestion {
    color: var(--cor-destaque);
}

.logo-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card {
    background: var(--cor-texto);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.5rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    color: var(--cor-fundo);
}

.card:hover {
    transform: scale(1.02);
}

.site-header {
    position: fixed;
    padding: 0.3rem 0 1px 0;
    top: 0;
    width: 100%;
    max-width: 800px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--cor-fundo);
    z-index: 1000;
    background: transparent;
}

.header-blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    margin-left: calc(-50vw + 50%);
    background: rgba(244, 244, 244, 0.7);
    backdrop-filter: blur(20px); /* adjust the blur */
    z-index: -1; /* behind the header */
}

.header-logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 -4rem;
}

.logo-image {
    max-height: 40px; /* adjust the width and height of image */
    width: auto; /* keep proportion */
    transition: transform 0.3s ease;
}

.header-content {
    display: flex;
    position: relative;
    padding: 0 0 0 5rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2; /* on top of the blur */
}

.header-menu a {
    margin-left: 20px;
    margin-right: 0;
}

.hidden-menu {
    display: none;
}

.hidden-menu a {
    margin-left: 20px;
    margin-right: 0;
}

footer {
    text-align: center;
    font-size: smaller;
    margin-top: 2rem;
    color: var(--cor-texto);
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--cor-destaque);
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
    opacity: 1;
}

.arrow-up {
    margin-top: 5px;
    width: 15px;
    height: 15px;
    border-top: 2px solid var(--cor-fundo);
    border-right: 2px solid var(--cor-fundo);
    transform: rotate(-45deg);
}

.registered-trademark {
    font-size: 1.1em;
    vertical-align: middle; /* Vertical Aligned */
    margin-left: 1px;
}

/* Reservation space for About me styling (if needed) */

.img-card {
    display: flex;
    align-items: center;
}

.p-about {
    width: 65%;
    margin-left: auto;
}

.img-about {
    border: 1px solid var(--cor-texto);
    width: 30%;
    transition: var(--transition);
}

.img-about:hover {
    transform: scale(1.05);
}

.p-about:hover {
    transform: none;
    transition: none;
}


@media screen and (max-width: 722px) {
    .img-card {
        flex-direction: column;
        align-items: center;
    }
    .img-about {
        margin-bottom: 20px;
        width: 50%;
        transition: transform 0.3s ease;
    }
    .img-about:hover {
        transform: scale(1.05);
    }
    .p-about {
        width: 100%;
    }
    
}

/* -------------------------------------------- */

/* Reservation space for Articles styling (if needed) */

/* -------------------------------------------- */

@media screen and (max-width: 830px) {
    .header-menu {
        display: none;
    }

    .hidden-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 10px;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 1000;
        align-items: center;
    }

    .dropdown-toggle {
        display: none;
    }

    .dropdown-label {
        cursor: pointer;
        padding: 5px;
        background-color: transparent;
        color: var(--cor-fundo);
    }

    .dropdown-menu {
        display: none;
        width: 80%;
        max-width: 150px;
        background: rgba(244, 244, 244, 0.8);
        backdrop-filter: blur(50px);
        border-radius: 8px;
        margin-top: 10px;
        overflow: hidden;
    }

    .dropdown-menu a {
        display: block;
        padding: 5px 0;
        margin-left: -2px;
        text-align: center;
        color: var(--cor-fundo);
        transition: background-color 0.3s ease;
    }

    .dropdown-menu a:hover {
        background-color: var(--cor-texto);
    }

    .dropdown-toggle:checked ~ .dropdown-menu {
        display: block;
    }
}

/* Show the top button */
@media screen and (min-width: 200px) {
    .scroll-to-top {
        display: none;
    }

    .scroll-to-top.show {
        display: flex;
    }

    html {
        scroll-behavior: smooth;
    }
}